body {
    background: url('../img/RedDragon.jpg') no-repeat center center fixed;
    background-size: cover;
    color: aliceblue;
    height: 100vh;
}

header {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 10px 71px;
}

td, th {
    width: 33%;
    text-align: center;
}

th {
    font-size: 150%;
}

img {
    width: 70%;
    height: 28%;
}

.minus, .plus {
    margin: 0% -21%;
    width: 21%;
    font-size: 523%;
    cursor: pointer;
    position: relative;
}

.quantity {
    -webkit-appearance: none;
    border-width: 1px;
    width: 259px;
    text-align: center;
    font-size: 523%;  
}

.result {
    font-size: 250%;
    font-weight: 700;
}

@media screen and (min-width: 1200px) {
    img {
        height: 40%;
    }
    .quantity {
        width: 343px;
    }
}